<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Amberly's Projects</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Projects</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <form class="form-inline" id="newProjectForm">
            <div class="form-group">
              <label for="title">Project</label>
              <input type="text" class="form-control" name="project" placeholder="Project">
            </div>
            <div class="form-group">
              <label for="title">Description</label>
              <input type="text" class="form-control" name="description" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="title">Date</label>
              <input type="text" class="form-control" name="date" placeholder="Date">
            </div>
            <div class="form-group">
              <label for="title">Github Url</label>
              <input type="text" class="form-control" name="githubUrl" placeholder="Github Url">
            </div>
            <button type="submit" class="btn btn-default">Create book</button>
          </form>
        <div id='projectTarget'>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
